@import "../../node_modules/react-md/src/scss/_react-md.scss";

$md-primary-color: $md-amber-500 !default;
$md-secondary-color: $md-deep-orange-a-200 !default;

@include react-md-everything;

body {;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  > * {
    flex: 1 0 auto;;
  }
}

header {
  font-weight: 900;
}

.fullscreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .landing {
    background-color: url("fccVotingLanding.jpg");
    background-size: cover;
  }
  h1, h3 {
    max-wodth: 600px;
    margin: 0 10px 20px;
    text-align: center;
    color: #333;
  }
  h1 {
    font-weight: 900;
    font-size: 84px;
    line-height: 90px;
  }
  h3 {
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
  }
  button {
    margin: 20px;
  }
}

.dashboard-content > *{
  margin: 10  px 0;
}

.sticky-filters {
  posiiton: fixed;
  left: 0;
  right: 0;
}

.fa-circle-o-notch {
  cursor: default;
  &:hover {
    background-color: inherit;
  }
}

.container {
  max-width: 1170px;
  padding: 15px;
  margin: 75px auto;
}

.md-toolbar--action-right{
  display: flex;
  align-items: center;
}

.md-text-field-container {
  width: 100%;
  margin: 10px 0;
}

.btn-list {
  max-width: 600px;
  margin: auto auto;
}

.flex-options {
  list-style: none;
  left: 0;
  display: flex;
  margin: 10px 5px;

  .btn-hidden {
    width: 0;
    transition: .1s;
    opacity: 0; /*radi skrivanja ikone dok je span width 0*/
  }
  &:hover .btn-hidden {
    width: 100px;
    opacity: 1;
    transition: .2s;
  }

}

.flex-results {
  margin: 0 0 10px 0;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  h5 {
    margin: 0 5px;
  }
}

.flex-wrap {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.flex-nowrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0;
  >* {
  margin: 0 5px;
  }
}

.md-select-field--btn {
  // width: 100%;
  text-align: center;
  color: black;
  font-weight: 500;
}

button.md-collapser--card {
  display: none;
}

#selectSortDirectionMenu {
  width: 100%;
}

.btn-wide {
  width: 100%;
}

input.md-text-field {
  font-size: 18px;
}
input.md-text-field--title {
  font-size: 25px;
}

.card-list > * {
  margin: 10px 0;
}

.shares {
  .hidden {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: 1s;
  }
  .visible {
    visibility: visible;
    position: relative;
    opacity: 1;
    transition: 0.2s;
  }
}

.share-btn {
    border: none;
    border-radius: 50%;
    background-color: rgba(0,0,0,0)
}

.poll-info {
  margin-bottom: 50px;;
}

.red-text {
  color: #c62828;
  font-weight: 700;
}

.loader {
  &.hidden {
    opacity: 0;
    transition: 1s;
  }
  &.visible {
    opacity: 1;
    transition: 0s;
  }
}
